@page "/attempts/{AssignmentId}"

@using System.Text
@using System.Text.Json
@using System.Text.Json.Serialization
@using System.IO
@using System.Net.Http.Headers;

@attribute [Authorize]

@inject NavigationManager NavMan
<MudLayout>
    <MudMainContent>

        <MudContainer MaxWidth="MaxWidth.Medium">
            @if (AssignmentModel != null)
            {
                <MudSimpleTable Hover="true">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (AttemptModel attempt in AssignmentModel.Attempts)
                        {
                            <tr @onclick='() => NavMan.NavigateTo($"attempt/{AssignmentId}/{attempt.AttemptId}")'
                                style="cursor: pointer">
                                <td>@attempt.AttemptId</td>
                                <td>@attempt.Completed</td>
                            </tr>
                        }
                    </tbody>
                </MudSimpleTable>
            }
            else
            {
                <MudSimpleTable>
                    <thead>
                        <tr>
                            <th><MudSkeleton SkeletonType="SkeletonType.Text"></MudSkeleton></th>
                            <th><MudSkeleton SkeletonType="SkeletonType.Text"></MudSkeleton></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < 10; i++)
                        {
                            <tr>
                                <td><MudSkeleton SkeletonType="SkeletonType.Text"></MudSkeleton></td>
                                <td><MudSkeleton SkeletonType="SkeletonType.Text"></MudSkeleton></td>
                            </tr>
                        }
                    </tbody>
                </MudSimpleTable>
            }
        </MudContainer>

    </MudMainContent>
</MudLayout>
@code{
    /// <summary>
    /// The unique ID of the current assignment.
    /// </summary>
    [Parameter]
    public string AssignmentId { get; set; }

    /// <summary>
    /// The current assignment.
    /// </summary>
    [Parameter]
    public AssignmentModel AssignmentModel { get; set; }

    private HttpClient client = new HttpClient();

    /// <summary>
    /// Fetches the assignment from the server when the component is intialized.
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {
        AssignmentModel = await ServerCommunicator.FetchAssignment(NavMan, AssignmentId);
    }
}
