@page "/attempts/{AssignmentId}"

@using System.Text
@using System.Text.Json
@using System.Text.Json.Serialization
@using System.IO
@using System.Net.Http.Headers;

@attribute [Authorize]

@inject NavigationManager NavMan
<MudLayout>
    <MudMainContent>

        <MudContainer MaxWidth="MaxWidth.Medium">
            @if (AssignmentModel != null)
            {
                <MudSimpleTable Hover="true">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (AttemptModel attempt in AssignmentModel.Attempts)
                        {
                            <tr @onclick='() => NavMan.NavigateTo($"attempt/{AssignmentId}/{attempt.AttemptId}")'>
                                <td>@attempt.AttemptId</td>
                                <td>@attempt.Completed</td>
                            </tr>
                        }
                    </tbody>
                </MudSimpleTable>
            }
        </MudContainer>

    </MudMainContent>
</MudLayout>
@code{
    [Parameter]
    public string AssignmentId { get; set; }

    [Parameter]
    public AssignmentModel AssignmentModel { get; set; }

    private HttpClient client = new HttpClient();

    protected override async Task OnInitializedAsync()
    {
        AssignmentModel = await ServerCommunicator.AssignmentFromServer(AssignmentId);
    }
}
