@page "/attempt/{AttemptId}"

@using System.Text
@using System.Text.Json
@using System.Text.Json.Serialization
@using System.IO
@using System.Net.Http.Headers;

@if (assignmentModel != null)
{
    <MudLayout>

        <MudAppBar Elevation="0"
                   Color="Color.Primary"
                   Fixed="false">
            <MudText Typo="Typo.h5" Class="mudblazor-appbar-brand-text">
                Attempt ttnt59
            </MudText>
            <MudAppBarSpacer />
            <MudSwitch Class="ml-auto"
                       Color="Color.Secondary"
                       Label="Attempt marked"
                       @bind-Checked="AttemptModel.Completed">
            </MudSwitch>
            <MudIconButton Icon="@Icons.Material.Filled.Save" 
                           Color="Color.Primary"
                           Size="Size.Large" 
                           OnClick="async () => await AssignmentToServer(assignmentModel) ">
            </MudIconButton>
        </MudAppBar>
        <MudMainContent>
            <MudContainer MaxWidth="MaxWidth.Medium">
                @*<MudOverlay @bind-Visible="assignmentModel.Attempts[0].Completed" LightBackground="true" Absolute="true"></MudOverlay>*@

                <MudExpansionPanels MultiExpansion="true"
                                    Elevation="2">
                    @for (int i = 0; i < AttemptModel.Sections.Count; i++)
                    {
                        int local = i;

                        SectionModel temp = AttemptModel.Sections.ElementAt(i);

                        <MudExpansionPanel Text="@temp.SectionID">
                            <Section @bind-SectionModel="temp"
                                     @bind-BankComments="assignmentModel.SectionCommentBanks[temp.SectionID]"
                                     OnUpdateAttempt="async () => await AssignmentToServer(assignmentModel)">
                            </Section>
                        </MudExpansionPanel>
                    }
                </MudExpansionPanels>
                
            </MudContainer>
        </MudMainContent>
    </MudLayout>
}

@code {
    /// <summary>
    /// The unique ID of the current attempt.
    /// </summary>
    [Parameter]
    public string AttemptID { get; set; }

    /// <summary>
    /// The current attempt.
    /// </summary>
    [Parameter]
    public AttemptModel AttemptModel { get; set; }

    /// <summary>
    /// Callback for when the attempt is modified.
    /// </summary>
    [Parameter]
    public EventCallback<AttemptModel> AttemptModelChanged { get; set; }

    private HttpClient client = new HttpClient();

    private AssignmentModel assignmentModel;

    protected override async Task OnInitializedAsync()
    {
        assignmentModel = await AssignmentFromServer();
        AttemptModel = GetAttempt(AttemptID);
    }

    public async Task AttemptToServer(AttemptModel attempt)
    {
        await AssignmentToServer(assignmentModel);
    }

    /// <summary>
    /// Serializes and sends an assignment to the server.
    /// </summary>
    /// <returns></returns>
    public async Task AssignmentToServer(AssignmentModel assignment)
    {
        HttpRequestMessage requestMessage = new HttpRequestMessage(HttpMethod.Post, "https://localhost:44387/api/assignment");

        JsonSerializerOptions options = new JsonSerializerOptions()
        {
            ReferenceHandler = ReferenceHandler.Preserve,
            WriteIndented = true
        };

        requestMessage.Content = new StringContent(JsonSerializer.Serialize<AssignmentModel>(assignment, options), Encoding.UTF8, "application/json");
        requestMessage.Headers.Add("AssignmentId", "Test Assignment");
        requestMessage.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json"));

        HttpResponseMessage responseMessage = await client.SendAsync(requestMessage);

        responseMessage.EnsureSuccessStatusCode();
    }

    public AttemptModel GetAttempt(string attemptId)
    {
        return assignmentModel.Attempts.Where(attempt => attempt.AttemptId == attemptId).First();
    }

    /// <summary>
    /// Fetches and deserializes an assignment from the server.
    /// </summary>
    /// <returns></returns>
    public async Task<AssignmentModel> AssignmentFromServer()
    {
        HttpRequestMessage requestMessage = new HttpRequestMessage(HttpMethod.Get, "https://localhost:44387/api/assignment");

        JsonSerializerOptions options = new JsonSerializerOptions()
        {
            ReferenceHandler = ReferenceHandler.Preserve,
            WriteIndented = true
        };

        requestMessage.Headers.Add("AssignmentId", "Test Assignment");
        requestMessage.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json"));

        HttpResponseMessage responseMessage = await client.SendAsync(requestMessage);

        Stream jsonStream = await responseMessage.Content.ReadAsStreamAsync();
        AssignmentModel assignmentModel = await JsonSerializer.DeserializeAsync<AssignmentModel>(jsonStream, options);

        responseMessage.EnsureSuccessStatusCode();

        return assignmentModel;
    }
}
