@page "/attempt/{AssignmentId}/{AttemptId}"

@using System.Text
@using System.Text.Json
@using System.Text.Json.Serialization
@using System.IO
@using System.Net.Http.Headers;

@*@attribute [Authorize]*@

@if (assignmentModel != null)
{
    <MudLayout>

        <MudAppBar Elevation="0"
                   Color="Color.Primary"
                   Fixed="false">
            <MudText Typo="Typo.h5" Class="mudblazor-appbar-brand-text">
                Attempt ttnt59
            </MudText>
            <MudAppBarSpacer />
            <MudSwitch Class="ml-auto"
                       Color="Color.Secondary"
                       Label="Attempt marked"
                       @bind-Checked="AttemptModel.Completed">
            </MudSwitch>
            <MudIconButton Icon="@Icons.Material.Filled.Save"
                           Color="Color.Primary"
                           Size="Size.Large"
                           OnClick="async () => await ServerCommunicator.AssignmentToServer(assignmentModel) ">
            </MudIconButton>
        </MudAppBar>
        <MudMainContent>
            <MudContainer MaxWidth="MaxWidth.Medium">
                @*<MudOverlay @bind-Visible="assignmentModel.Attempts[0].Completed" LightBackground="true" Absolute="true"></MudOverlay>*@

                <MudExpansionPanels MultiExpansion="true"
                                    Elevation="2">
                    @for (int i = 0; i < AttemptModel.Sections.Count; i++)
                    {
                        int local = i;

                        SectionModel temp = AttemptModel.Sections.ElementAt(i);

                        <MudExpansionPanel Text="@temp.SectionName"
                                           IsExpanded="true">
                            <Section @bind-SectionModel="temp"
                                     @bind-BankComments="assignmentModel.SectionCommentBanks[temp.SectionID]"
                                     OnUpdateAttempt="async () => await ServerCommunicator.AssignmentToServer(assignmentModel)">
                            </Section>
                        </MudExpansionPanel>
                    }
                </MudExpansionPanels>

            </MudContainer>
        </MudMainContent>
    </MudLayout>
}

@code {
    /// <summary>
    /// The unique ID of the current attempt.
    /// </summary>
    [Parameter]
    public string AttemptID { get; set; }

    /// <summary>
    /// The unique ID of the current assignment.
    /// </summary>
    [Parameter]
    public string AssignmentId { get; set; }

    /// <summary>
    /// The current attempt.
    /// </summary>
    [Parameter]
    public AttemptModel AttemptModel { get; set; }

    /// <summary>
    /// Callback for when the attempt is modified.
    /// </summary>
    [Parameter]
    public EventCallback<AttemptModel> AttemptModelChanged { get; set; }

    private HttpClient client = new HttpClient();

    private AssignmentModel assignmentModel;

    /// <summary>
    /// Fetches the assignment from the server when the component is initialized.
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {
        assignmentModel = await ServerCommunicator.AssignmentFromServer(AssignmentId);
        AttemptModel = GetAttempt(AttemptID);
    }

    /// <summary>
    /// Sends the assignment to the server.
    /// </summary>
    /// <param name="attempt"></param>
    /// <returns></returns>
    public async Task AttemptToServer(AttemptModel attempt)
    {
        await ServerCommunicator.AssignmentToServer(assignmentModel);
    }

    /// <summary>
    /// Gets a single attempt from the server.
    /// </summary>
    /// <param name="attemptId">The ID of the attempt to be fetched.</param>
    /// <returns></returns>
    public AttemptModel GetAttempt(string attemptId)
    {
        return assignmentModel.Attempts.Where(attempt => attempt.AttemptId == attemptId).First();
    }
}
